---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (() => {
    return [];
}) satisfies GetStaticPaths;
---

<Layout title="">
    <h1>Hola</h1>
</Layout>